@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap" );


body {
	font-family:'Montserrat',sans-serif;
}

h2, h3 {
	color: #2f5d62
}


footer {
	padding: 15px;
	color: white;
	background-color: #364547;
	text-align: center;
	font-weight: bold;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
}

nav a:hover {
	font-weight: bold;
}

.profile header {
	text-align: center;
}

.featured-image {
	width: 100%;
	max-height: 500px;
	object-fit: cover;
	object-position: center;
}

.profile img {
	width: 200px;
}

.card {
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
	border-radius: 5px;
	padding: 20px;
	margin-top: 20px;
}

.jumbotron {
	font-size: 20px;
	padding: 60px;
	background-color: #ffe268;
	text-align: center;
	color: white;
}

nav li {
	display: inline;
	list-style-type: none;
	margin-right: 20px;
}

nav {
	background-color: #ffb037;
	padding: 5px;
	position: sticky;
	top: 0;
}

nav a {
	font-size: 18px;
	font-weight: 400;
	text-decoration: none;
	color: white;
}

body {
	font-family: 'Montserrat',sans-serif;
	margin: 0;
	padding: 0;
}

main {
	padding: 20px;
	overflow: auto;
}

.content {
	float: left;
	width: 75%;
	background-color: white;
}

aside {
	float: right;
	width: 25%;
	padding-left: 20px;
}

* {
	box-sizing: border-box;
}

@media screen and (max-width: 1000px) {
	.content,
	aside {
		width: 75%;
		padding: 0;
	}
}

.container {
	width: 100%;
	min-height: 200px;
}

header {
	display: inline;
}

.farul {
	color: orange;

}